.filter-vocalist-section {
    align-content: center;
    align-items: baseline;
    background-color: rgb(236, 236, 236);
    display: flex;
    margin-top: 2vh;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 80%;
}

.filter-vocalist-addvox, .filter-vocalist-filter {
    flex-basis: 17%;
    flex-grow: 2;
    flex-shrink: 2;
    font-size: calc(1px + 1.8vmin);
    font-weight: bold;
    line-height: 3vh;
    padding: 10px;
    text-align: center;
}

.filter-vocalist-addvox {
    order: 1;
}

.filter-vocalist-filter {
    order: 4;
}

.filter-vocalist-addvox-dropdown, .filter-vocalist-filter-dropdown {
    flex-basis: 60%;
    flex-grow: 4;
    flex-shrink: 4;
    font-size: calc(14px + 2vmin);
}

.filter-vocalist-addvox-dropdown {
    order: 2;
}

.filter-vocalist-filter-dropdown {
    order: 5;
}

.filter-vocalist-addvox-button, .filter-empty {
    flex-basis: 1%;
    flex-grow: 1;
    flex-shrink: 1;
    width: 17%;
}

.filter-vocalist-addvox-button {
    order: 3;
}

.filter-empty {
    order: 6;
    opacity: 0;
}

.filter-vocalist-list {
    background-color: white;
    border: none;
    border-radius: 4px;
    color: #404040;
    padding: 1vh;
    width: 90%;
}

.filter-vocalist-button {
    background-color: #F4511E;
    border-radius: 4px;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    font-size: calc(1.5vmin);
    padding: 1vh 3vh 1vh 3vh;
    margin-right: 3vh;
    text-align: center;
}

.filter-vocalist-button-fake {
    font-size: calc(1.5vmin);
    padding: 1vh 3vh 1vh 3vh;
    margin-right: 3vh;
}

.Dropdown-menu-type {
    background-color: white;
    border-radius: 4px;
    color: #404040;
    cursor: pointer;
    min-width: 100px;
    max-height: 200px;
    overflow-y: auto;
    position: absolute;
    text-align: left;
    width: 30%;
}

.Dropdown-control {
    color: #404040;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: calc(1px + 1.5vmin);
}

.Dropdown-option {
    box-sizing: border-box;
    color: rgba(51, 51, 51, 0.8);
    cursor: pointer;
    display: block;
    font-size: calc(1px + 1.5vmin);
    padding: 10px 10px;
  }

.Dropdown-option:hover {
    background-color: #eeeeee;
    color: #333;
  }

.Dropdown-icon {
    position: relative;
    float: right;
    padding-right: 10px;
    bottom: calc(1px + 1.5vmin);
}