.slideshow-section {
    height: auto;
    max-width: 100%;
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
}

.slideshow {
    display: inline;
    vertical-align: top;
    float: none;
    animation: moveSlideshow 24s linear infinite;
}

@keyframes moveSlideshow {
    100% { 
      transform: translateX(-55.4%);  
    }
}